{
  "name": "org.entcore~admin~{{ entcoreVersion }}",
  "config": {
    "main":"org.entcore.admin.Admin",
    "port": 8089,
    "csrf-token" : {{ csrfToken }},
    "ssl" : {{ ssl }},
    "mode": "{{ mode }}",
    "auto-redeploy": false,
    "host" : "{{ host }}",
    "app-name" : "Admin",
    "app-address" : "/admin",
    "app-icon" : "admin-large"
  }
}