{
  "assets-path": "{{ assetsPath }}",
  "services": [
    {% include 'services/mongo-persistor.j2' %},
    {% include 'services/image-resizer.j2' %},
    {% include 'services/zip.j2' %},
    {% include 'services/postgresql.j2' %},
    {% include 'services/json-schema-validator.j2' %},
    {% if webdavHost is defined and webdavHost %}
      {% include 'services/webdav.j2' %},
    {% endif %}
    {% include 'services/sms-proxy.j2' %},
    {% include 'services/pdf-generator.j2' %},
    {% include 'core/infra.j2' %},
    {% include 'core/app-registry.j2' %},
    {% include 'core/session.j2' %},
    {% include 'core/auth.j2' %},
    {% include 'core/directory.j2' %},
    {% include 'core/workspace.j2' %},
    {% include 'core/communication.j2' %},
    {% include 'core/portal.j2' %},
    {% include 'core/conversation.j2' %},
    {% include 'core/feeder.j2' %},
    {% include 'core/timeline.j2' %},
    {% include 'core/cas.j2' %},
    {% include 'core/archive.j2' %},
    {% include 'core/admin.j2' %},
    {% include 'mods/actualites.j2' %},
    {% include 'mods/blog.j2' %},
    {% include 'mods/bookmark.j2' %},
    {% include 'mods/calendar.j2' %},
    {% include 'mods/collaborative-editor.j2' %},
    {% include 'mods/collaborativewall.j2' %},
    {% include 'mods/community.j2' %},
    {% include 'mods/competences.j2' %},
    {% include 'mods/forum.j2' %},
    {% include 'mods/mindmap.j2' %},
    {% include 'mods/pages.j2' %},
    {% include 'mods/presences.j2' %},
    {% include 'mods/rack.j2' %},
    {% include 'mods/rbs.j2' %},
    {% include 'mods/rss.j2' %},
    {% include 'mods/timelinegenerator.j2' %},
    {% include 'mods/wiki.j2' %}
    {% if httpProxy is defined and httpProxy == 'true' %}
      ,{% include 'services/http-proxy.j2' %}
    {% endif %}
  ]
}
