{
  "name": "net.atos~calendar~{{ calendarVersion }}",
  "config": {
    "main" : "net.atos.entng.calendar.Calendar",
    "port" : 8098,
    "app-name" : "Calendar",
    "app-address" : "/calendar",
    "app-icon" : "calendar-large",
    "host": "{{ host }}",
    "ssl" : {{ ssl }},
    "userbook-host": "{{ host }}",
    "integration-mode" : "HTTP",
    "app-registry.port" : 8012,
    "mode" : "{{ mode }}",
    "entcore.port" : 8009,
    "publicConf": {
      {% if xitiSwitch is defined and xitiSwitch == 'true' %}
        "xiti": {
          "ID_SERVICE": {
            "default": 7
          }
        }
      {% endif %}
    }
  }
}