{
  "name": "fr.openent~presences~{{ presencesVersion }}",
  "config": {
    "main" : "fr.openent.presences.Presences",
    "port" : 8062,
    "app-name" : "Presences",
    "app-address" : "/presences",
    "app-icon" : "absences",
    "host": "{{ host }}",
    "ssl" : {{ ssl }},
    "auto-redeploy": false,
    "userbook-host": "{{ host }}",
    "integration-mode" : "HTTP",
    "app-registry.port" : 8012,
    "mode" : "$ {{ mode }}",
    "sql": true,
    "exports" : {
        "template-path" : "./public/template/pdf/"
    },
    "entcore.port" : 8009
  }
}